{% extends 'core/base.html' %}

{% block title %}{{ post.title }} | {% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                                <div class="content is-medium">
                                    <h2 class="title is-4">{{ post.created_at|date:'M-d-Y' }}</h2>
                                    <h1 class="title">{{ post.title }}</h1>
                                    <p><strong>{{ post.intro }}</strong></p>

                                    <p> {{ post.body}} </p>

                                    <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></small></p>

                                    <hr>
                                    <h2 class="subtitle is-4">Comments</h2>

                                    <form method="post" class="mb-6">
                                        {% csrf_token %}
                                        
                                        {{ form.as_p }}

                                        <div class="field">
                                            <div class="control">
                                                <button class="button is-sucess" type="Submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                
                                {% for comment in post.comments.all %}
                                    <div class="media box">
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>{{ comment.name }}</strong>
                                                    <small>{{ comment.created_at|date:'M-d-Y' }}</small>
                                                    <br>
                                                    {{ comment.body }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}


                                </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}