{% extends 'core/base.html' %}
{% load markdown_filter %}

{% block title %}{{ post.title }} | {% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered"> <!-- Added has-text-centered class -->
            <section class="section">                
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            
                            <h2 class="subtitle is-4" style="background-color: #fafafa;">{{ post.created_at|timesince }} ago</h2>
                            <h1 class="title">{{ post.title }}</h1>
                            <hr>
                            <p><strong>{{ post.intro|linebreaks }}</strong></p>
                            <p>{{ post.body|markdown|safe|linebreaks }}</p>
                            
                            {% if post.image %}
                            <figure class="image mb-6">
                                <div style="display: inline-block;">
                                    <img src="{{ post.image.url }}" style="max-width: 150px; max-height: 150px;" alt="{{ post.title }}">
                                </div>
                            </figure>
                            {% endif %}

                            <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></small> - <small>Author: {{ post.author }}</small></p>
                            <hr>

                            <h2 class="subtitle is-4">Deixe seu comentário!</h2>

                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}

                                <div class="field">
                                    <label class="label">{{ field.label }}</label>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Escreva aqui!" {{ field }}
                                    </div>
                                    {% if field.errors %}
                                    <p class="help is-danger">{{ field.errors }}</p>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <hr>

                                <div class="field">
                                    <p>Comentando você concorda com os<a href="#"> Termos e Condições</a></p>
                                </div>
                                
                                <div class="is-centered">
                                    <div class="control">
                                        <button class="button is-link">Enviar!</button>
                                    </div>
                                </div>
                            </form>

                            <hr>
                            <h2 class="subtitle is-4">Comentários</h2>

                            {% for comment in post.comments.all %}
                                <article class="media box">
                                    <div class="media-content">
                                        <strong>{{ comment.name }}</strong> <small>{{ comment.created_at|timesince }} ago</small><br>
                                        {{ comment.body }}
                                    </div>
                                </article>
                            {% endfor %}
                            {% if not post.comments.all %}
                                <p>Nenhum comentário ainda.</p>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}