{% extends 'core/base.html' %}

{% block title %}Join-us | {% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <div class="content" style="text-align: center;">
                                <h1 class="title">Join-us page...</h1>
                                <hr>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}